* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* NAVBAR  */
#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
  font-weight: 400;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: black;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  /* border: 3px solid white; */
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
}

#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  /* border: 3px solid white; */
  animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}
.joincommunity {
  /* border: 2px solid white; */
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(148deg, #f9eb28 0%, #f36428 100%);
  box-shadow: 0 5px 15px 1px rgba(255, 139, 0, 0.37);
  color: black;
  font-weight: 700;
  font-size: 0.8rem;
  width: auto;
  height: 50%;
}
.herobg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: url("./assets/bg1.webp")
    no-repeat center center/cover;
}
.bg {
  position: absolute;
  width: 37%;
  top: 17%;
  left: 32%;
  /* z-index: -1; */
}
.box img {
  position: absolute;
}
.box img:nth-child(1) {
  top: 18%;
  left: 16%;
  animation: animate 5s linear infinite;
  width: 15%;
}
.box img:nth-child(2) {
  top: 79%;
  left: 71%;
  animation: animate 5s linear infinite;
  width: 15%;
}
.box img:nth-child(3) {
  top: 49%;
  left: 12%;
  animation: animate 5s linear infinite;
  width: 5%;
}
.box img:nth-child(4) {
  top: 62%;
  left: 70%;
  animation: animate 5s linear infinite;
  width: 5%;
}
.box img:nth-child(5) {
  top: 69%;
  left: 20%;
  animation: animate 5s linear infinite;
  width: 16%;
}
.box img:nth-child(6) {
  top: 12%;
  left: 67%;
  animation: animate 5s linear infinite;
  width: 16%;
}
.herotitle {
  width: 50%;
  font-size: 9rem;
  z-index: 1;
  margin-top: 10rem;
}
.herodesc {
  width: 60%;
  font-size: 1.2rem;
  text-align: center;
}
.xbtn,.telegrambtn{
  background-color: transparent;
  width: 60px;
  height: 60px;
  padding: 1rem;
  border-radius: 50%;
  border: 2px solid #ff8b00;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:  1rem;
  margin-top: 2rem;
}
.xbtn>img{
  filter: invert(1);
}
.telegrambtn>img{
  
  filter: invert(1);
}
.herobtnbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.trybtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  margin-top: 2rem;
  background: linear-gradient(148deg, #f9eb28 0%, #f36428 100%);
  color: black;
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px rgba(255, 139, 0, 0.37);
  outline: 2px solid orange;
  font-size: 1.2rem;
  font-weight: 700;
  width: 30%;
}
.trybtnimg{
  width: 20%;
}
/* COINFINDER */
.coinfinder {
  width: 100%;
  height: 600px;
  background: url("./assets/coinfinderbg.webp")
    no-repeat center center/cover;
}
.coinfindertemplate {
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.coinimg {
  width: 45%;
}
.coincontent {
  width: 55%;
  /* margin-left: 4rem; */
}
.coinimg img {
  width: 90%;
}
.coinhead {
  font-size: 4rem;
  color: rgb(91, 47, 8);
  padding: 0;
}
.cointitle {
  font-size: 2rem;
  font-weight: 500;
}
.coindesc {
  font-size: 1rem;
  font-weight: 300;
  color: black;
  margin-top: 1rem;
}
.coinbtn {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px rgba(255, 139, 0, 0.37);
  background: repeat padding-box border-box 0% 0% / auto auto scroll
    linear-gradient(148deg, #000000 0%, #5b2f08 100%);
  margin-top: 1.5rem;
}
/* DISCOVER */

/* NAVBAR  */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
.brand {
  color: white;
  width: 5%;
}
#header .header {
  min-height: 8vh;
  background-color: transparent;
  /* border: 2px solid white; */
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.balls2>img:nth-child(1){
  position: absolute;
  top: 4%;
  left: 10%;
  width: 9%;
  animation: animate 5s linear infinite;
}
.balls2>img:nth-child(2){
  position: absolute;
  top: 16%;
  left: 84%;
  width: 15%;
  animation: animate 5s linear infinite;
}
.balls2>img:nth-child(3){
  position: absolute;
  top: 39%;
  left: 62%;
  width: 12%;
  animation: animate 5s linear infinite;
}
.balls2>img:nth-child(4){
  position: absolute;
  top: 53%;
  left: 0%;
  width: 21%;
  animation: animate 5s linear infinite;
}
.balls2>img:nth-child(5){
  position: absolute;
  top: 74%;
  left: 83%;
  width: 17%;
  animation: animate 5s linear infinite;
}
.discover {
  width: 100vw;
  min-height: 300vh;
  background: url("./assets/bg2.webp")
    no-repeat center center;
    position: relative;
}
.discovercontainer {
  width: 80%;
  margin: auto;
}
.discoverresp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discovertitle {
  font-size: 2.5rem;
  color: #ff8b00;
  margin-top: 3rem;
}
.discoverheading {
  font-size: 3.4rem;
}
.discoverdesc {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}
.discovervedio {
  width: 90%;
  margin-top: 4rem;
}
.discoverboxes {
  width: 90%;
  /* border: 2px solid white; */
  margin: auto;
  margin-top: 3rem;
}
.discoverbox {
  border: 2px solid orange;
  border-radius: 10px;
  min-height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  background-color: transparent;
}
.discoverboximg {
  width: 20%;
}
.discoverboximg > img {
  width: 80%;
}
.dicoverboxtitle {
  font-size: 1.7rem;
  color: #ff8b00;
}
.discoverboxdesc {
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
}
.discoverpoints {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.discoverpoint {
  /* border: 2px solid white; */
  width: 45%;
  margin: auto 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discoverpointimg {
  width: 70%;
}
.discoverpointimg > img {
  width: 100%;
}
.discoverpointtitle {
  font-size: 1.6rem;
  color: #ff8b00;
}
.discoverpointdesc {
  font-size: 1.2rem;
  font-weight: 300;
}
.discoverpointcontent {
  margin-left: 1rem;
}
/* TELEGRAM */
.telegrambot { 
  position: relative;
  width: 100vw;
  min-height: 110vh;
  background: url("./assets/bg3.webp")
    no-repeat center center/cover;
}
.telegrambotcontainer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.telegrambotimg {
  width: 55%;
  margin: auto;
}
.telegrambotimg > img {
  width: 80%;
  margin-top: 5rem;
}
.telegrambotcontent {
  width: 45%;
  margin: auto;
}
.telegrambotheading {
  font-size: 2.7rem;
  color: #ff8b00;
  font-weight: 600;
  margin-top: 10rem;
}
.telegrambottitle {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 60px;
}
.telegrambottitle2 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 60px;
}
.telegrambotdesc {
  font-size: 1.5rem;
  font-weight: 300;
}
.telegrambotpoints {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
}
.telegrambotpoint {
  display: flex;
  justify-content: center;
  align-items: center;
}
.telegrambotpointheading {
  margin-left: 1.4rem;
  font-size: 1.3rem;
  font-size: 600;
}
.balls3> img:nth-child(1){
  position: absolute;
  top: 43%;
  left: 37%;
  width: 20%;
  animation: animate 5s linear infinite;
}
.balls3> img:nth-child(2){
  position: absolute;
  top: 22%;
  left: 71%;
  width: 23%;
  animation: animate 5s linear infinite;
}
.balls3> img:nth-child(3){
  position: absolute;
  top: -8%;
  left: 6%;
  width: 17%;
  animation: animate 5s linear infinite;
}
/* TOKENOMICS */

.tokenomics {
  width: 100vw;
  height: 80vh;
  background: url("./assets/bg4.webp")
    no-repeat center center/cover;
    position: relative;
}
.balls4>img:nth-child(1){
  position: absolute;
  top: -23%;
  left: 3%;
  width: 17%;
  animation: animate 5s forwards infinite;
}
.balls4>img:nth-child(2){
  position: absolute;
  top: 0%;
  left: 78%;
  width: 22%;
  animation: animate 5s forwards infinite;
}
.tokenomicscontainer {
  width: 75%;
  margin: auto;
  position: relative;
}
.tokenomicscontainer > .tokenbgimg {
  width: 100%;
}
.tokenblackbgimg {
  position: absolute;
  bottom: 13%;
  right: 7%;
  width: 34%;
}
.tokencalanderimg {
  position: absolute;
  bottom: 2%;
  right: -9%;
  width: 22%;
}
.tokenomicscontent {
  position: absolute;
  top: 16%;
  left: 12%;
}
.tokenomicstitle {
  font-size: 2.2rem;
  height: 2rem;
  color: #5b2f08;
}
.tokenomicstitle2 {
  font-size: 4rem;
  height: 7rem;
}
.tokenomicstat {
  font-size: 1.7rem;
}
.tokenomicstat > span {
  color: #5b2f08;
}
.tokentax {
  position: absolute;
  top: 17%;
  right: 21%;
  font-size: 2rem;
  color: black;
}
.tokendiv {
  position: absolute;
  top: 28%;
  right: 12%;
  font-size: 9rem;
}
.tokencontractheading {
  text-align: center;
}
.tokencontractaddress {
  text-align: center;
  color: #ff8b00;
}
/* ROADMAP */

.roadmap {
  width: 100vw;
  min-height: 110vh;
  background: url("./assets/bg5.png")
    no-repeat center center/cover;
    position: relative;
}
.balls5>img:nth-child(1){
  position: absolute;
  top: 22%;
  left: 44%;
  width: 14%;
  animation: animate 5s forwards infinite;
}
.balls5>img:nth-child(2){
  position: absolute;
  top: 53%;
  left: 70%;
  width: 14%;
  animation: animate 5s forwards infinite;
}
.balls5>img:nth-child(3){
  position: absolute;
  top: 72%;
  left: 11%;
  width: 18%;
  animation: animate 5s forwards infinite;
}
.roadmapcontainer {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roadmapheading {
  font-size: 2.7rem;
  color: #ff8b00;
  height: 2.5rem;
  margin-top: 5rem;
}
.roadmaptitle {
  font-size: 4.5rem;
}
.roadmapboxes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.roadmapbox {
  width: 35%;
  position: relative;
  margin: auto;
}
.roadmapimg {
  position: relative;
  width: 100%;
}
.roadmaptitlenumber {
  position: absolute;
  top: 4%;
  left: 5.5%;
  font-size: 2.3rem;
  color: #2b1608;
}
.roadmapphases {
  position: absolute;
  top: 10%;
  left: 24%;
  width: 70%;
}
.roadmapphasesheading {
  font-size: 1rem;
}
.roadmapseperator {
  margin: 2rem 0;
}

.footer {
  width: 100vw;
  height: 50px;
  background: url("./assets/footerbg.webp")
    no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer > img {
  width: 10%;
}

@media only screen and (min-width: 700px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  #header .nav-list ul li:hover a {
    color: rgb(255, 139, 0);
  }
}
@media only screen and (max-width: 600px) {
  #header .nav-list ul {
    list-style: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
    background: url("https://static.wixstatic.com/media/7f442f_eff8144d6ca3454c9953283d158b911d~mv2.png/v1/fill/w_496,h_497,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/7f442f_eff8144d6ca3454c9953283d158b911d~mv2.png ");
    background-color: rgb(255, 139, 0);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@keyframes animate {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(-40px);
  }
}
@media only screen and (max-width: 700px) {
  .joincommunity {
    margin-left: 4rem;
  }
  .bg {
    width: 50%;
  }
  .brand {
    margin-top: 1rem;
  }
  .herobg {
    height: 70vh;
  }
  .herotitle {
    width: 80%;
    z-index: 1;
    margin-top: 10rem;
    line-height: 2rem;
  }
  .herodesc {
    width: 80%;
    margin: 0rem auto;
    font-size: 0.8rem;
  }
  .coinfinder {
    height: 100vh;
  }
  .coinfindertemplate {
    width: 80%;
    flex-direction: column;
  }
  .coinimg {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .coinimg > img {
    width: 80%;
  }

  .coincontent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .coinhead {
    font-size: 2rem;
  }
  .cointitle {
    font-size: 1rem;
  }
  .coindesc {
    font-size: 0.9rem;
  }
  .coinbtn {
    width: 60%;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .discovertitle {
    font-size: 1.8rem;
  }
  .discovercontainer {
    width: 95%;
  }
  .discoverheading {
    font-size: 1.9rem;
    line-height: 2rem;
    text-align: center;
  }
  .discoverdesc {
    font-size: 1rem;
  }
  .discoverboxes {
    width: 95%;
  }
  .discoverboximg {
    width: 30%;
  }
  .discoverboximg > img {
    width: 100%;
  }
  .discoverboxcontent {
    width: 70%;
  }
  .dicoverboxtitle {
    font-size: 1rem;
  }
  .discoverboxdesc {
    font-size: 0.8rem;
  }
  .discoverpoints {
    width: 95%;
    margin: auto;
  }
  .discoverpoint {
    width: 100%;
    margin: 1rem auto;
  }
  .discoverpointimg {
    width: 25%;
  }
  .discoverpointimg > img {
    width: 100%;
  }
  .discoverpointcontent {
    width: 75%;
  }
  .discoverpointtitle {
    font-size: 1.1rem;
  }
  .discoverpointdesc {
    font-size: 0.9rem;
  }
  .telegrambotcontainer {
    width: 95%;
    margin: auto;
    flex-direction: column;
  }
  .telegrambotimg {
    width: 100%;
  }
  .telegrambotimg > img {
    margin-top: 1rem;
  }
  .telegrambotcontent {
    width: 80%;
  }

  .telegrambotheading {
    margin-top: 0rem;
    font-size: 1.3rem;
  }
  .telegrambottitle {
    font-size: 2rem;
    height: 33px;
  }
  .telegrambottitle2 {
    font-size: 1.6rem;
  }
  .telegrambotdesc {
    font-size: 1rem;
  }
  .telegrambotpoints {
    margin-top: 1rem;
  }
  .telegrambotpoint {
    justify-content: flex-start;
  }
  .telegrambotpoint > img {
    width: 15%;
  }
  .telegrambotpointheading {
    margin-left: 1.4rem;
    font-size: 1rem;
    font-size: 600;
  }
  .tokenomics {
    height: 100vh;
    position: relative;
  }
  .tokenomicscontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .tokenomicscontainer > .tokenbgimg {
    transform: rotate(90deg);
    width: 600px;
    height: 45%;
  }
  .tokenblackbgimg {
    bottom: 28%;
    right: 21%;
    width: 56%;
  }
  .tokencalanderimg {
    bottom: 22%;
    right: 2%;
    width: 35%;
  }
  .tokenomicscontent {
    position: absolute;
    top: 16%;
    left: 27%;
  }
  .tokenomicstitle {
    font-size: 1rem;
    height: 1rem;
    color: #5b2f08;
    text-align: center;
  }
  .tokenomicstitle2 {
    font-size: 2rem;
    height: 3.5rem;
    text-align: center;
  }
  .tokenomicstat {
    font-size: 1rem;
    text-align: center;
  }
  .tokenomicstat > span {
    color: #5b2f08;
  }
  .tokentax {
    position: absolute;
    top: 43%;
    right: 43%;
    font-size: 2rem;
    color: black;
  }
  .tokendiv {
    position: absolute;
    top: 52%;
    right: 37%;
    font-size: 4rem;
  }
  .tokencontract {
    position: absolute;
    top: 74%;
    left: 21%;
  }
  .tokencontractheading {
    text-align: center;
    font-size: 1rem;
  }
  .tokencontractaddress {
    text-align: center;
    color: #2b1608;
    font-size: 1rem;
  }

  .roadmap {
    width: 100vw;
    min-height: 100vh;
  }
  .roadmapcontainer {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .roadmapheading {
    font-size: 2rem;
    color: #ff8b00;
    height: 2rem;
    margin-top: 5rem;
  }
  .roadmaptitle {
    font-size: 3rem;
  }
  .roadmapboxes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  .roadmapbox {
    width: 100%;
    position: relative;
    margin: auto;
  }
  .roadmapimg {
    position: relative;
    width: 100%;
  }
  .roadmapseperator {
    width: 100%;
    display: none;
  }
  .roadmaptitlenumber {
    position: absolute;
    top: 4%;
    left: 5.5%;
    font-size: 2rem;
    color: #2b1608;
  }
  .roadmapphases {
    position: absolute;
    top: 16%;
    left: 24%;
    width: 70%;
  }
  .roadmapphasesheading {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .roadmapphasespoints {
    font-size: 0.7rem;
  }
  .roadmapseperator {
    margin: 2rem 0;
  }
  .footer >img{
    width: 40%;
  }
  .herobtnbox{
    width: 80%;
  }
  .trybtn {
    padding: .5rem .5rem;
    font-size: 1rem;
    font-weight: 700;
    width: 60%;
  }
  .trybtnimg{
    width: 20%;
  }
  .xbtn,.telegrambtn{
    background-color: transparent;
    width: 50px;
    height: 50px;
    padding: 1rem;
    border-radius: 50%;
    border: 2px solid #ff8b00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:  1rem;
    margin-top: 2rem;
  }
  .xbtn>img{
    filter: invert(1);
  }
  .telegrambtn>img{
    
    filter: invert(1);
  }
}
